*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

//Variables

$bleu_menu: (rgb(30, 25, 150));
$bleu_menu1: (rgb(30, 150, 150));

//Polices

@font-face{
    font-family: Stars;
    src: url("../helpers/ACROTSRG.TTF")
}
@import url('https://fonts.googleapis.com/css?family=Lato|Raleway');

//Placeholders

%user-select-none{
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

//Mixins

@mixin image($width, $height: auto){
    width: $width;
    height: $height;
    align-self: center;
    margin: 1em auto;
}

@mixin placement_corps($taille){
    margin: 2em 2.5%;
    flex: 1 1 $taille;
}

@mixin background-couleur($color, $attach: fixed){
    background: $color;
    background-attachment: $attach;
}

@mixin background-image($url, $size: cover, $repeat: no-repeat){
    background: url("#{$url}");
    background-size: $size;
    background-repeat: $repeat;
}

//Layout
/*titre en haut*/
header{
    position: relative;
    @include background-image("../media/images/backgroundHeader.jpg");
    padding: 2em 0;
    font-family: Stars;
    font-size: 1.5em;
    text-align: center; 
    color: $bleu_menu1;
    text-transform: capitalize;
    @extend %user-select-none;
    /*flavor text*/
    span{
        text-transform: none;
        position: absolute;
        color: rgb(175, 175, 0);
        transform: rotate(-25deg);
        font-size: 1rem;
        right: 3em;
        bottom: 4em;
        font-weight: 600;
    }
}
/*Menu déroulant*/
#menu_general{
    list-style: none;
    text-align: center;
    width: 100%;
    @extend %user-select-none;
    #courrant{
        @include background-couleur($bleu_menu1);
        >a{
            color: #000;
        }
    }
    li{
        display: inline-block;
        position: relative;
        width: 20%;
        @include background-couleur($bleu_menu);
        &:hover{
            @include background-couleur($bleu_menu1);
        }
        li{
            @include background-couleur($bleu_menu);
            &:hover{
                @include background-couleur($bleu_menu1);
            }
        }
        &:hover{
            a{
                color: #000;
            }
            li{
                a{
                    color: #FFF;
                }
                &:hover a{
                    color: #000;
                }
            }
            ul{
                /*afficher les options déroulantes si hover*/
                max-height: 20em;
            }
        }
    }
    ul{
        position: absolute;
        z-index: 10;
        /*cacher les options déroulantes si !hover*/
        max-height: 0;
        left: 0;
        right: 0;
        overflow: hidden;
        transition: .5s all .1s;
        li{
            border-radius: 0;
            width: 100%;
            &:last-child{
                border-radius: 0 0 5px 5px;
            }
        }
        a{
            padding: 2% 0;
        }
    }
    a{
        text-decoration: none;
        display: block;
        color: #FFF;
        padding: 1em 0;
        font-family: Lato, sans-serif;
    }
}

.container{
    @include background-couleur(rgb(20, 20, 20));
    min-height: 100vh;
    justify-content: space-around;
    padding-bottom: 10vh;
    .content{
        display: flex;
        flex-flow: wrap;
        width: 75%;
        margin: auto;
        min-height: 100vh;
        text-align: center;
        color: white;
        font-family: Raleway, sans-serif;
        /*gros titre en haut*/
        h1{
            flex: 1 0 95%;
            margin: 2em 2.5%;
            font-family: Stars;
            font-size: 2em;
        }
        /*sections*/
        h3{
            flex: 1 0 95%;
            margin: 1.5em 2.5%;
            font-family: Lato, sans-serif;
            font-size: 1.5em;
            text-align: start;
            border-bottom: 2px solid white;
        }
        /*sous-sections*/
        h5{
            flex: 1 0 95%;
            margin: 0.5em 2.5%;
            font-family: Lato, sans-serif;
            font-size: 1.1em;
            text-align: start;
            font-style: italic;
        }
        /*liens*/
        a{
            text-decoration: none;
            color: rgb(50, 183, 228);
        }
        /*listes*/
        ul{
            display: inline;
            text-decoration: none;
            text-align: start;
            li{
                list-style-type: disclosure-closed;
            }
        }
        /*classes pour les paragraphes*/
        .petit{
            font-size: 0.8em;
        }
        .colonne1, .colonne1c{
            @include placement_corps(95%)
        }
        .colonne2, .colonne2c{
            @include placement_corps(45%)
        }
        .colonne3, .colonne3c{
            @include placement_corps(28.33%)
        }
        .colonne4, .colonne4c{
            @include placement_corps(20%)
        }
        .colonne1, .colonne2, .colonne3, .colonne4{
            text-align: justify;
        }
        /*classes pour les images*/
        .image100{
            @include image(100%)
        }
        .image75{
            @include image(75%)
        }
        .image66{
            @include image(66.67%)
        }
        .image50{
            @include image(50%)
        }
        .image33{
            @include image(33.33%)
        }
        .image25{
            @include image(25%)
        }
        .enHaut{
            align-self: flex-start;
            padding-top: 5vmin;
        }
        .gallerie{
            display: flex;
            flex-flow: row;
            flex-wrap: wrap;
            @include placement_corps(95%);
            align-items: center;
            justify-content: space-around;
            .survol{
                flex: 0 0 auto;
                max-width: 30%;
                max-height: 50vh;
                .image{
                    max-width: 90%;
                    max-height: 48vh;
                    transition: .1s transform;
                    transform: translateZ(0);
                    padding: 2vh 0;
                }
                span{
                    display: none;
                }
            }
            .survol:hover{
                z-index: 1;
                position: relative;
                .image{
                    /*zoom quand survol*/
                    transform: scale(2,2);
                    transition: .3s transform;
                }
                /*légende*/
                span{
                    color: black;
                    display: inline;
                    z-index: 5;
                    position: absolute;
                    right: -2em;
                    bottom: -4em;
                    padding: 2vmin;
                    border: 2px solid white;
                    border-radius: 5px;
                    max-width: 20em;
                    @include background-couleur(rgba(255, 255, 255, 0.6));
                    @extend %user-select-none;
                    /*masquer la légende quand survol*/
                    &:hover{
                        opacity: 0;
                    }
                }
            }
        }
    }
}

footer{
    width: 100%;
    text-align: center;
    @include background-couleur(black);
    font-family: Raleway, sans-serif;
    p{
        font-size: 0.75em;
        padding: 1em;
        color: white;
    }
}

#remonter img{
    height: 3em;
    position: fixed;
    right: 5vw;
    bottom: 5vh;
}